<!--Header-->
<header class=header-transparent id=header-main>
  <nav class="navbar navbar-main navbar-expand-lg navbar-dark" id=navbar-main>
    <div class=container><a class=navbar-brand href=index.html>


      <img alt="Image placeholder"
           src="assets/img/brand/uefa-logo-white.svg"
           id="navbar-logo"> </a>


      <button class=navbar-toggler type=button data-toggle=collapse data-target=#navbar-main-collapse
              aria-controls=navbar-main-collapse aria-expanded=false aria-label="Toggle navigation"><span
        class=navbar-toggler-icon></span></button>
      <div class="collapse navbar-collapse navbar-collapse-overlay" id=navbar-main-collapse>
        <div class=position-relative>
          <button class=navbar-toggler type=button data-toggle=collapse data-target=#navbar-main-collapse
                  aria-controls=navbar-main-collapse aria-expanded=false aria-label="Toggle navigation"><i
            data-feather=x></i></button>
        </div>
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item nav-item-spaced d-none d-lg-block"><a class="nav-link"
                                                                    href="overview.html">Лига чемпионов УЕФА</a>
          </li>
          <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle=hover><a class="nav-link"
                                                                                              data-toggle=dropdown
                                                                                              href=#
                                                                                              aria-haspopup=true
                                                                                              aria-expanded=false>Лига
            Европы УЕФА</a>

          </li>
          <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle=hover><a class="nav-link"
                                                                                              href=#
                                                                                              role=button
                                                                                              data-toggle=dropdown
                                                                                              aria-haspopup=true
                                                                                              aria-expanded=false>Лига
            конференций УЕФА</a>

          </li>


        </ul>


      </div>
    </div>
  </nav>
</header>

<!--Header-->
