<div class="container-fluid ">
  <div class="row mt-6 mb-n10 position-relative zindex-100">
    <div class="col-lg-4 col-sm-6 mt-5" *ngFor="let league of leagues ">
      <p><a routerLink="/oneTeam"><img src="{{league.icon}}"    alt="Image placeholder"

                          style="width:40px; margin-right: 20px">{{league.title}}</a></p>


      <table  class="table">

        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Клуб</th>
          <th scope="col">И</th>
          <th scope="col">В</th>
          <th scope="col">Н</th>
          <th scope="col">П</th>
          <th scope="col">О</th>
        </tr>
        </thead>
        <tbody>
        <tr  >
          <th scope="row">1</th>
          <td><img alt="Image placeholder"
                   src="assets/img/icons/club/mc.png"
                   style="width:20px; margin-right: 10px; margin-bottom: 5px"> Манчестер сити
          </td>
          <td >5</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
        </tr>
        <tr > </tr>

        </tbody>
      </table>




      <button type="button" class="btn btn-outline-primary btn-sm rounded-0">
        Подробнее
      </button>
      <button type="button" class="btn btn-outline-primary btn-sm rounded-0">
        Матчи
      </button>
    </div>

  </div>
</div>
