<div class=container>
  <div class="row justify-content-center">
    <div class="col-lg-6 text-center"><h2 class=mb-3>Европейские чемпионаты</h2>
      <div class="form-group"><label class="form-control-label">Выберите страну</label> <select
        class="form-control select2-hidden-accessible" data-toggle="select" title="Выберите страну"
        data-live-search="true" data-live-search-placeholder="Country" data-select2-id="1" tabindex="-1"
        aria-hidden="true">

        <option data-select2-id="3">Все лиги</option>
        <option data-select2-id="14"> Англия</option>
        <option data-select2-id="15">Испания</option>
        <option data-select2-id="16">Италия</option>
        <option data-select2-id="17">Германия</option>
        <option data-select2-id="18">Франция</option>
        <option data-select2-id="18">Португалия</option>
        <option data-select2-id="18">Россия</option>
        <option data-select2-id="18">Нидерланды</option>
        <option data-select2-id="18">Бельгия</option>
        <option data-select2-id="18">Австрия</option>
        <option data-select2-id="18">Украина</option>
        <option data-select2-id="18">Шотландия</option>
      </select>





      </div>
    </div>
  </div>
</div>
